name: Create SBOM-files
on:
 workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Install and build javascript
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: |
         cd login-app-front
         npm install
      - name: Create SBOM with CycloneDX for frontend
        uses: CycloneDX/gh-node-module-generatebom@v1
        with: 
          out: './login.app.front.bom.xml'
      - name: Generate SBOM with CycloneDX for backend
        uses: CycloneDX/gh-dotnet-generate-sbom@v1
        with:
          path: ./LogInApp/LogInApp.sln
          out: './login.app.backend.bom.xml'
