name: Create SBOM-files
on:
 workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Install and build javascript
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0' 
      - run: |
         cd login-app-front
         npm install
      - name: Create SBOM with CycloneDX for frontend
        uses: CycloneDX/gh-node-module-generatebom@v1
        with:
          path: './login-app-front'
          out: './login-app-front-bom.xml'
      - name: Generate JSON SBOM
        uses: CycloneDX/gh-dotnet-generate-sbom@master
        with:
         path: ./LogInApp/LogInApp.sln
         json: true
      - name: Upload SBOM files as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: sbom-files
          path: |
            ./login-app-front-bom.xml
            ./login-app-backend-bom.json
