name: Container scanning with Trivy

on:
  workflow_dispatch:  

jobs:

  trivy-scan:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1
        
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.2

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Scan file system
        run: trivy fs . > trivyfs.txt

      - name: build and push backend image
        uses: docker/build-push-action@v3
        with:
          context: ./LogInApp
          file: ./LogInApp/Dockerfile
          push: true
          tags: llaurapihamaa/loginapp-backend:latest

      - name: build and push frontend image
        uses: docker/build-push-action@v3
        with:
          context: ./login-app-front
          file: ./login-app-front/Dockerfile
          push: true
          tags: llaurapihamaa/loginapp-frontend:latest

      - name: Scan containers with trivy
        run: |
          trivy image llaurapihamaa/loginapp-backend:latest > trivybackendimage.txt
          trivy image llaurapihamaa/loginapp-frontend:latest > trivyfrontendimage.txt
          
      - name: Upload trivy files as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: trivy-files
          path: |
            ./*.txt
